"<@require profile.css>";
"<@require people.css>";
"<@require guest.css>";








#profile .list .applist .app{
	@block @relative;
	padding:15px 0;
	$bottom:rgba(0,0,0,0.1);
}

#profile .list .applist .app .image{
	width:48px;
	height:48px;
	@absolute;
	top:15px;
	left:0px;
}

#profile .list .applist .app .image img{
	width:32px;
}

#profile .list .applist .app .text{
	padding-left:50px;
	@f15 @thick @block;
}

#profile .list .applist .app .text em{
	@block @f12 @#aaa @normal;
	padding-top:2px;
}


#profile .list .applist .more{
	@@main @center @pointer @f15;
	padding:15px 0 10px 0;
}
