#changelog-panel{
    $bg:<@main -80 80>;
@absolute;
    top:0px;
    left:0px;
    height:48px;
    width:100%;
    $transition:all 0.3s;
    z-index:8999;
    color: white;
}

#changelog-panel .header-left{
    float: left;
}

#changelog-panel .header-middle{
    float: left;
}

#changelog-panel .header-middle .items{
@absolute;
    z-index:1000;
    width: 100%;
    margin: 0 auto;
}

#changelog-panel .header-middle .items .item{
@f20 @pointer @relative;
    $color:#fff 0.3;
    padding:2px 0;
    float: left;
}

#changelog-panel .header-right{
    float: right;
}